body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
}

form label,
form select,
form textarea,
form button {
    margin-top: 10px;
}

#listaNotas {
    width: 300px;
}

.nota {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
}